[Unit]
Description=VMware Tools Installation
ConditionPathExists=!/etc/vmware-tools/config
Before=systemd-user-sessions.service

[Service]
ExecStart=/etc/vmware-tools/easy_install/vmware-tools-firstboot.sh
Type=oneshot
StandardOutput=journal+console

[Install]
WantedBy=systemd-user-sessions.service
